<app-menu-title></app-menu-title>
<div class="container__articles">

    <div class="articles__main">
        <app-big-card
        id="1"
        photoCover="https://th.bing.com/th/id/R.d19dd1b345d5b71953caeb65da5d966b?rik=MSB0RGsTpmkidg&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fdont-starve-game%2fimages%2f4%2f44%2fWilson_Portrait.png%2frevision%2flatest%3fcb%3d20121223182301&ehk=xvhs%2bj3Z8Oysbml6BiQ%2fE2nusoZsg5ZMlF4mIe8cdps%3d&risl=&pid=ImgRaw&r=0"
        cardDescription="Descrição do meu main"
        cardTitle="Wolfgang">

        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card id="2" cardTitle="Wilson" photoCover="https://th.bing.com/th/id/R.d19dd1b345d5b71953caeb65da5d966b?rik=MSB0RGsTpmkidg&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fdont-starve-game%2fimages%2f4%2f44%2fWilson_Portrait.png%2frevision%2flatest%3fcb%3d20121223182301&ehk=xvhs%2bj3Z8Oysbml6BiQ%2fE2nusoZsg5ZMlF4mIe8cdps%3d&risl=&pid=ImgRaw&r=0"></app-small-card>
        <app-small-card id="3" cardTitle="Wolfgang" photoCover="https://gamepedia.cursecdn.com/dontstarve_gamepedia_en/thumb/9/90/Wolfgang_Portrait.png/120px-Wolfgang_Portrait.png?version=f2f42fa5d5e03ce6e11903c5c129947b"></app-small-card>
        <app-small-card id="4" cardTitle="Wigfrid" photoCover="https://th.bing.com/th/id/OIP.-ojfq_AevY39VopYMiGdogAAAA?pid=ImgDet&rs=1"></app-small-card>
    </div>

</div>
