<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://th.bing.com/th/id/OIP.DMTrYfAGeVAPmmZKntb3mAHaHa?pid=ImgDet&rs=1" alt="" height="200px"  srcset="">
    </div>

    <div class="big-card__tile">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                blablablablablablablablablablablablablablabla
            </a>
        </p>
    </div>
</div>